@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*WhatWeFamiliarWith.js custom css selectors */
.masonry {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 220px;
  overflow: scroll;
}
.skill {
  margin: 0 10px 20px 10px;
  width: 80px;
  height: 80px;
}
.skill:nth-child(4n + 1) {
  margin-top: 20px;
}
@media (min-width: 1024px) {
  .masonry {
    overflow: hidden;
    max-width: 620px;
    max-height: 650px;
  }
  .skill {
    width: 120px;
    height: 120px;
    margin: 0 30px 30px 0;
  }
  .skill:nth-child(4n + 1) {
    margin-top: 0;
  }
  .skill:nth-child(8n + 1) {
    margin-top: 30px;
  }
}

/*EndlessText.js custom css selectors */
.marqueeStyle {
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left1 40s linear infinite;
  animation: scrolling-left1 40s linear infinite;
}
.marqueeStyle2 {
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left2 40s linear infinite;
  animation: scrolling-left2 40s linear infinite;
  animation-delay: 20s;
}
/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
}

@-webkit-keyframes scrolling-left1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@-webkit-keyframes scrolling-left2 {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-200%);
  }
}
